<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<h:body> 
		<h:panelGroup> 
	<h:form> 
		<h:dataTable value="#{carritoBean.obtenerProductos()}"
			var="producto" class="table"> 
			<h:column>
				<f:facet name="header">Nombre Producto</f:facet>
		#{producto.codigoProducto}
	</h:column>
			
			<h:column>
				<f:facet name="header">Nombre Producto</f:facet>
		#{producto.nombreProducto}
	</h:column>

			<h:column>
				<f:facet name="header">Stock Producto</f:facet>
		#{producto.precio}
	</h:column>

		</h:dataTable>
	</h:form>
	
	</h:panelGroup>
	
	<h:form> 
		<h:inputText value="#{carritoBean.codigoProducto}" />
		<h:inputText value="#{carritoBean.cantidad}" /> 
		<h:commandButton action="#{carritoBean.anadirCarrito()}" value="Añadir Al Carrito" />  
		<br /> 
		<br />
		<h:commandButton action="#{carritoBean.obtenerFactura()}" value="VER FACTURA" > 
			<f:ajax render="factura"/>
		</h:commandButton> 
		<br /> 
		<br />
	</h:form> 
	<h:panelGroup id = "factura"> 
	<h:form rendered="#{carritoBean.visualizar}"> 
		<h:dataTable value="#{carritoBean.cabecera.lstDetalles}"
			var="detalle" class="table"> 
			<h:column>
				<f:facet name="header">Producto</f:facet>
		#{detalle.producto.nombreProducto}
	</h:column>
		
			<h:column>
				<f:facet name="header">Cantidad</f:facet>
		#{detalle.cantidad}
	</h:column>

			<h:column>
				<f:facet name="header">Subtotal</f:facet>
		#{detalle.subtotal}
	</h:column>

		</h:dataTable> 
		<br />
		<p>El valor total a pagar es</p>  
		<h:inputText value="#{carritoBean.cabecera.totalFactura}" /> 
		
		<br /> 
		<br /> 
		<h:commandButton action="#{carritoBean.Iniciar()}" value="reset" />
	</h:form>
	
	</h:panelGroup>
	
</h:body> 
</html>
