<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<h:body> 
	<h:form> 
		<h:inputText value="#{productosBean.pro.nombreProducto}" />  
		<br />
		<h:inputText value="#{productosBean.pro.precio}" />  
		<br />
		<h:commandButton action="#{productosBean.guardarProducto()}" value="GuardarProducto" />
	</h:form> 
	<h:panelGroup> 
	<h:form> 
		<h:dataTable value="#{productosBean.obtenerProductos()}"
			var="producto" class="table">
			<h:column>
				<f:facet name="header">Nombre Producto</f:facet>
		#{producto.nombreProducto}
	</h:column>

			<h:column>
				<f:facet name="header">Stock Producto</f:facet>
		#{producto.precio}
	</h:column>

		</h:dataTable>
	</h:form>
	
	</h:panelGroup>
</h:body> 
</html>
